<div class="container">
  <div class="input-field">
    <textarea placeholder="Find your relevant prompts"></textarea>
    <i class="uil uil-notes note-icon"></i>
  </div>

  <ul class="promptLists"></ul>

  <div class="relevant-prompts">
    <span>You have <span class="pending-num"> no </span> relevant prompts.</span>
    <button class="clear-button">Clear All</button>
  </div>
</div>
